

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-weight: 100;
   font-family: "Microsoft YaHei","Roboto",sans-serif;
  //  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
   outline: none;
   list-style: none;
}
input[type=number] {  
    -moz-appearance:textfield;  
}  
input[type=number]::-webkit-inner-spin-button,  
input[type=number]::-webkit-outer-spin-button {  
    -webkit-appearance: none;  
    margin: 0;  
}  
html{
    position: relative;
    height: 100%;
}
body{
   overflow-x: hidden;
   min-height: 100%;
   background: #ecf0f5;
}

a{
  color: #565656;
  text-decoration: none;  
  cursor: pointer !important;
}
.clearfix:after{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
#app{
  position: absolute;
  min-height: 100%;
  overflow: hidden;
  width: 100%;
  z-index: 55;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}
 
@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.el-aside .iconfont{
    color:#83d5ff ;
    margin-left: 5px;
}
.el-aside .is-opened .iconfont{
    color: #fff;
}
.el-aside .el-submenu__icon-arrow{
    color:#83d5ff !important;
}
.el-aside .is-opened .el-submenu__icon-arrow{
    color: #fff !important;
}
.el-aside .el-submenu__icon-arrow::before{
  content: '\E60B' !important;
}
.el-badge__content.is-fixed{
    top:3px;
}
.el-badge__content.is-fixed.is-dot{
  right: 8px;
}
.el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li{
    margin:  0 2px;
}
.content-fiexd{
 padding: 10px 24px 5px 24px;
 position: fixed;
 bottom:0px;
 
 background: rgba(255,255,255,1);
 z-index: 55;
}
.content-fiexd .el-button{
    min-width: 20px;
    margin-bottom: 5px;
    float: left;
  
}
.content-fiexd .el-button+.el-button{
    margin-left:2px;
}


.el-button{
    padding:0px 0px;
    min-width: 30px;
    font-weight:100;
    font-size: 13px;
    height:24px;
}
.el-dialog__wrapper{
    background: rgba(0, 0, 0, 0.6);
}
.el-message-box__wrapper{
     background: rgba(0, 0, 0, 0.6);

}

.small .el-input__inner{
    padding: 0 5px;
}
.el-input__inner{
    height: 28px;
    padding: 0 10px;
}
.el-input__icon{
    line-height: 28px;
}
.el-textarea__inner{
    min-height:80px !important;
}
.el-button--primary{
    background-color: #00aeff;
    border-color: #00aeff;
}
.el-button [class*=" el-icon-"],.el-button [class^=el-icon-]{
    font-weight: bold;
}


.el-button--default{
    border-color: #999;

}


 .el-button.is-disabled,
 .el-button.is-disabled:focus,
 .el-button.is-disabled:hover{
         color: #999;
         cursor: not-allowed;
         background-image: none;
         background-color: #fff;
         border-color: #999;

 }

.el-radio__inner{
  border: 1px solid #c5c5c5;
  width: 16px;
  height: 16px;
}
.el-radio__input.is-checked .el-radio__inner::after{
  width: 8px;
  height: 8px;
  background: #353535;
}
.el-radio__input.is-checked .el-radio__inner{
  border: 1px solid #c5c5c5;
  background: #fff;
}
.el-radio__inner:hover{
  border: 1px solid #c5c5c5;
}
.el-radio__label{
  color: #999;
}
.is-checked+.el-radio__label{
  color: #656565;
}
.el-radio__input.is-checked+.el-radio__label{
    color: #000;
}
.el-checkbox-button__inner{
    padding: 8px 11px;
}

.el-checkbox-button.is-checked.is-focus .el-checkbox-button__inner{
  border-color: #409EFF

}
.el-checkbox-button.is-focus .el-checkbox-button__inner{
  border-color: #dcdfe6;
}


.site-group .el-radio-button{
    height: 32px;
    line-height: 32px;
    width: 100%;
    font-size: 14px;
    margin-bottom:5px;
   
    
}
.site-group .el-radio-button:first-child .el-radio-button__inner{
     border-radius:4px !important; 
}
.site-group .el-radio-button:last-child .el-radio-button__inner{
     border-radius:4px !important; 
}
.site-group .el-radio-button__inner{
    width: 100%;
     height: 32px;
     border-left: 1px solid #dcdfe6;
     line-height: 8px;
   
}
.bread-box {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
}

.bread-box label {
  color: #5a5e66;
}

.type-bread {
  margin-right: 12px;
}

.bread-items {
  display: inline-block;
}

.bread-items a {
  color: #1276c3;
  font-size: 14px;
}

.bread-items a::after {
  content: '/';
  padding: 0 5px;
  color: #1276c3;
}

.bread-items:last-child a::after {
  content: '';
  padding: 0 5px;
  color: #1276c3;
}
.table-top-bar{
    padding: 12px 24px;
}

.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.text-overflow{
    // overflow: hidden;
   text-overflow:ellipsis;
     white-space: nowrap;
}





.check-vertical{
    width: 40%;
}
.check-vertical .el-checkbox{
 display: block;
 margin-left: 0;
 height: 32px;
 line-height: 32px;
 margin-left: 18px;
 border-bottom:1px dashed #eee;
}
.check-vertical .el-checkbox:last-child{
    border: none;
}
.el-range-editor.el-input__inner{
    padding: 0 10px;
}
.el-input__inner{
  height:28px;
  line-height:28px;
}
.el-range-input{
    position: relative;
  
    background: transparent;
}


.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
 .channels-box{
     width:95%;
     margin: 0 auto;
     border: 1px dashed #eee;
     overflow:hidden;
  }

.channel-group{
    
}
.channl-models{
    float: left;
     overflow: hidden;
    
}
.models-label{
    float: left;
       position: relative;
    border:1px solid #d8dce5;
    height: 32px;
    line-height: 30px;
    font-size: 14px;
    color: #5a5e66;
    
     margin-right:5px;
     padding: 0 10px;
}
.models-label .el-icon-caret-right {
    color:#d8dce5;font-size:10px;
    position: absolute;
    right:5px;
    top:9px;
    
}
.flex{
    display: flex;
   
    
}
.flex-date{
    margin-top: 15px;
      display: flex;
      align-items: center;
}

.channel-model{
    min-width: 65px;
    height: 32px;
    line-height: 32px;
    background: #00aeff;
    float: left;
     text-align: center;
     margin-left: 3px;
      padding: 0 10px;
      cursor: pointer;
}
.channel-model a{
  font-size: 14px;
  color: #fff;
}

.flex-50 .el-form-item__label{
    padding-right: 32px;
    line-height: 32px;
}
.flex-100 .el-form-item__label{
    padding-right: 32px;
    line-height: 32px;
}
.el-form-item__content{
    line-height: 32px;
}
.form-footer{
    width: 100%;
    display: block;
    padding: 15px 162px;
}
.el-button+.el-button{
    margin-left: 6px;
}
.el-form-item.is-success .el-input__inner, .el-form-item.is-success .el-input__inner:focus, .el-form-item.is-success .el-textarea__inner, .el-form-item.is-success .el-textarea__inner:focus{
    border-color: #d8dce5;
}
.el-loading-mask{
    z-index:1000;
}
.v-modal{
    display: none !important;
}
.gray{
    display: block;
    font-size: 12px;
    line-height: 1;
    padding-top: 6px;
    color:#acb5bb;
}
.link{
    cursor: pointer;
    color: #4184b7;
}

.overflow-text{
   white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}

.el-form-item__error{
    white-space: nowrap;
}
.flex-50 {
    width: 50%;
   
    
}


.flex-100{
    width: 100%;  
}


.right-sider .el-form-item__error {
 //left: 0;
//top: 32px;
}
.content-flex-right{
    text-align: right;
}
@media screen and (max-width:1560px) {
 .content-flex-right {
   text-align: left;
 }

}






.tree-layout {
  position: absolute;
  min-height: 100%;
  width: 200px;
  float: left;
    background: #fff;
}

.tree {
 width:200px;
  height: 100%;
  overflow: auto;
position:absolute;
  border-right: 1px solid #d4dde2;
}

.file-tree-items{
  width:200px;
  height: 100%;
  overflow:auto;
  position:absolute;
  border-right: 1px solid #d4dde2;
}




.reflash{
  height: 50px;
  line-height: 50px;
  padding: 0 24px;
  color: #8a8e98;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content:space-between;
  align-items: center;
  font-size: 14px;
}


.el-icon-refresh{
    font-weight: 500;
}


.article{
  padding: 50px 50px;
  box-sizing: border-box;
}
.article .article-header{
  width: 100%;
  text-align: center;
}
.article .article-header .article-title{
  font-size: 22px;
  line-height: 40px;
}
.article .article-header .article-title .gray{
  line-height: 30px;
}
.article .article-body{
  margin-top: 20px;
  font-size: 14px;
}

.data-table{
    width: 100%;
    margin-bottom:24px;
}
.data-table th{
    font-size: 12px;
    color: #878d99;
   text-align: left;
    height: 35px;
    line-height: 35px;

}
.data-table td{
     font-size: 12px;
     color: #5a5e66;
     text-align: left;
     height: 35px;
     line-height: 35px;
}

.data-header-title{
    font-size: 14px;
    color: #353535;

}
/*  给矩形一个1px实心颜色rgb为#E4E4E2的边框  */
.tip {
    padding: 5px;
    border: 1px solid #E4E4E2;
    margin-left: 20px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
}
/*实心三角   */
.tip:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0px;
}
/* 空心三角，相对于实心三角像左偏移2像素*/
.tip:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0px;
    
}

.tip-right:before{
  right: -8px;
  top: 50%;
  margin-top:-4px;
  border-left: 8px solid #E4E4E2;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
}
.tip-right:after{
  top: 50%;
  margin-top:-4px;
  right: -6px;
  border-left: 8px solid #fff;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
}

.warn{
  border:1px solid #EAE3D4;
  background-color: #F9F7F3;
  color: #C3AC7F;
}
.warn:before {
  border-left: 8px solid #EAE3D4;
}
.warn:after {
  border-left: 8px solid #F9F7F3;
}

.primy{
  border:1px solid #E7ECF3;
  background-color: #F9FAFC;
  color: #999999;
}
.primy:before {
  border-left: 8px solid #E7ECF3;
}
.primy:after {
  border-left: 8px solid #F9FAFC;
}
.pull-left{
  float:left;
}
.pull-right{
 float:right; 
}
.clear-fix{
  clear:both
}
.text-left{
  text-align: left
}
.text-right{
  text-align: right
}
.text-center{
  text-align: center
}

.ml-24{
    margin-left: 24px;
}
.mt-10{
    margin-top: 10px;
}
.inline-block{
    display: inline-block;
}
.dialog .tree-layout {
  min-height: 400px;
  width: 90%;
}

.dialog .tree-layout .tree {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: absolute;
  border-right: 0px solid #d4dde2;
}

.el-dialog__body {
  min-height: 150px;
  overflow: auto;
}
.breadcrumb>li+li:before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  position: relative;
  top: -1px;
  margin: 0 10px;
  background: url('../images/doubleright.png') no-repeat;
}

.el-date-editor--daterange{
  position: relative;
}
.el-date-editor--daterange .el-range__close-icon{
    position: absolute;
    top: 0px;
    right: 3px;
}
.edui-default .edui-editor-iframeholder{
    width: 100% !important;
}

.time-label{
    width: 88px;
    display: inline-block;
    text-align: right;
}


.el-dropdown-link{
  line-height: 40px;
  height:40px;
  display: block;
  padding:0 10px;
}
.el-dropdown-link:hover{
  background:#2b303b;
  background-color: #2b303b;
  color: #7F99AC;
}
.el-dropdown-menu{
    background-color:#3C3F41;
    max-height: 400px;
    overflow: auto;
    border:0px solid #EBEEF5;
    border-radius: 0px;
    padding: 10px;
}
.el-popper[x-placement^=bottom] .popper__arrow{
  border-bottom-color: #3C3F41;
}
.el-popper[x-placement^=bottom] .popper__arrow::after{
  border-bottom-color: #3C3F41;
}
.el-popper[x-placement^=top] .popper__arrow{
  border-top-color: #3C3F41;
}
.el-popper[x-placement^=top] .popper__arrow::after{
  border-top-color: #3C3F41;
}
.el-dropdown-link {
  cursor: pointer;
  color:#409EFF;
  font-size:13px;
}
.el-dropdown-menu__item{
  color:#ffffff;
  font-size:13px;
}
.el-popper[x-placement^=bottom] {
  margin-top: 12px;
}
.el-dropdown-menu__item:focus, .el-dropdown-menu__item:not(.is-disabled):hover {
  background-color: #2b303b;
  color: #7F99AC;
}
// 渐入渐出效果-平移
.slide-main-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-main-enter-active {
  transition: all .8s ease;
}
.slide-main-enter, .slide-main-leave-to{
  transform: translatex(300px) translatey(0px);
  opacity: 0;
}

// 渐入渐出效果-上移
.slide-top-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-top-enter-active {
  transition: all .8s ease;
}
.slide-top-enter, .slide-top-leave-to{
  transform: translatey(300px);
  opacity: 0;
}



// 动画效果
.bounce-leave-active {
  animation: bounce-in .3s reverse;
}
.bounce-enter-active {
  animation: bounce-in .5s;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(0.25);
  }
  50% {
    transform: scale(0.5);
  }
  75% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(1);
  }
}

//修改el-dialog 动画效果


.dialog-fade-enter-active {
  animation: bounce-in .5s;
}
@keyframes dialog-fade-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes dialog-fade-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(0);
  }
}

[v-cloak] {
  display: none;
  } 

.el-card {
  border: 1px solid #606266;
} 
.el-card__header{
  padding:0px;
  border-bottom: 1px solid #606266;
}

